@import url('https://fonts.googleapis.com/css?family=IM+Fell+Great+Primer');
@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville');

$primary-color: #903;
$secondary-color: #75c3c6;
$tertiary-color: #112537;
$main-bg-color: #f8f5f2;
$text-color: #0e1d2b;

a, h1, h2, h3, h4 {
  color: $primary-color;
  font-family: 'IM Fell Great Primer', serif;
}

hr {
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

tt, code, kbd, samp {
  font-family: 'SF Mono', 'Consolas', sans-serif;
}

blockquote {
  border-left: 5px solid darken($primary-color, 5%);
  padding-left: 10px;
  margin-left: 0;
}

mark {
  background: saturate(lighten($primary-color, 47), 59);
}

img {
  max-width: 100%;
}

body {
  font-family: 'Libre Baskerville', 'Avenir Next', 'Avenir', 'Lato', sans-serif;
  background: $main-bg-color;
  color: $text-color;
}

.site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  width: 60%;
  margin: 0 auto;
}

.site-title {
  text-align: center;
  font-style: italic;
}

.site-wrapper {
  flex: 1;
  background: #fff;
  padding: 30px 100px;
  box-shadow: 0px 0 7px -1px #a5a1a1;
}

.post-content .kg-card-markdown > p:first-child:first-letter {
  font-size: 48px;
  color: #903;
  float: left;
  line-height: 60px;
  padding-right: 3px;
}

.post-content .kg-card-markdown > p:nth-child(2) {
  clear: both;
}

.post-content p {
  line-height: 32px;
}

footer {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 30px;
}
